/* Received your Request */
.received-your-request {
  background-color: var(--main-color);
  padding: 7.5rem 0;
  background-image: url(../images/bg-star-3.png), url(../images/bg-star-4.png);
  background-repeat: no-repeat;
  background-position: top left, top right;
  background-size: 85% 100%, 75% 90%;
}
.received-your-request .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  background-color: white;
  border-radius: 1rem;
  padding: 3.8rem;
}
.received-your-request .container .request-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.received-your-request .container .request-status .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13.8rem;
  height: 13.8rem;
  background-color: #eeebf2;
  border-radius: 50%;
}
.received-your-request .container .request-status img {
  width: 6.2rem;
  height: 6.2rem;
}
.received-your-request .container .request-status h4 {
  font-size: 2.8rem;
  color: var(--main-color);
}
.received-your-request .container .request-status p {
  font-size: 1.2rem;
  color: var(--main-text-color);
  text-align: center;
}
.received-your-request .container button {
  color: white;
  background-color: var(--main-color);
  padding: 1rem 2.5rem;
  border-radius: 2.2rem;
  transition: var(--transition);
}
.received-your-request .container button:hover {
  color: var(--main-color);
  background-color: white;
  border: 1px solid var(--main-color);
}
.received-your-request .container .popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(73, 42, 112, 0.8);
  justify-content: center;
  align-items: center;
}
.received-your-request .container .popup .popup-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
}
.received-your-request .container .popup .popup-content h6 {
  font-size: 1.9rem;
}
.received-your-request .container .popup .popup-content span {
  font-size: 0.9rem;
}
.received-your-request .container .popup .popup-content .stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}
.received-your-request .container .popup .popup-content .stars .star {
  width: 100%;
  border-radius: 0.4rem;
  cursor: pointer;
  padding: 1rem 2.7rem;
}
.received-your-request .container .popup .popup-content .stars .star svg {
  width: 1.5rem;
  height: 1.5rem;
}
.received-your-request .container .popup .popup-content .stars .star:hover,
.received-your-request
  .container
  .popup
  .popup-content
  .stars
  .star:hover
  svg
  path,
.received-your-request .container .popup .popup-content .stars .star.active {
  background-color: #e3b449;
  fill: white;
}
.received-your-request
  .container
  .popup
  .popup-content
  .stars
  .star.active
  svg
  path {
  fill: white;
}
.received-your-request .container .popup .popup-content .satisfaction {
  display: flex;
  justify-content: space-between;
}
.received-your-request .container .popup .popup-content .satisfaction span {
  font-size: 0.9rem;
}
.received-your-request
  .container
  .popup
  .popup-content
  .feedback
  form
  .share-experience {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.received-your-request
  .container
  .popup
  .popup-content
  .feedback
  form
  .share-experience
  textarea,
.received-your-request
  .container
  .popup
  .popup-content
  .feedback
  form
  .improve-experience
  textarea {
  resize: none;
  border-radius: 0.4rem;
  height: 5.2rem;
  outline: none;
  padding: 0.7rem;
  border: 1px solid #dbdbdb;
}
.received-your-request
  .container
  .popup
  .popup-content
  .feedback
  form
  .improve-experience {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.received-your-request
  .container
  .popup
  .popup-content
  .feedback
  form
  .share-experience
  label,
.received-your-request
  .container
  .popup
  .popup-content
  .feedback
  form
  .improve-experience
  label {
  font-size: 0.9rem;
}
.received-your-request .container .popup .popup-content .btn {
  width: 100%;
  padding: 0;
}
.received-your-request .container .popup .popup-content .rating-message {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
}
/* Media Query */
/* Extra Small (Phones) */
@media (max-width: 575px) {
  /* Received your Request */
  .received-your-request .container .request-status .image {
    width: 10rem;
    height: 10rem;
  }
  .received-your-request .container .request-status h4 {
    font-size: 2rem;
  }
  .received-your-request .container .request-status p {
    text-align: center;
  }
  .received-your-request .container .popup .popup-content .stars .star {
    padding: 0.5rem 1rem;
  }
  .received-your-request .container .popup .popup-content {
    max-width: 80%;
    padding: 1.2rem;
  }
}
/* Small (Tablets & Larger Phones) */
@media (min-width: 576px) and (max-width: 767px) {
  /* Received your Request */
  .received-your-request .container .request-status .image {
    width: 11rem;
    height: 11rem;
  }
  .received-your-request .container .request-status h4 {
    font-size: 2.3rem;
  }
  .received-your-request .container .request-status p {
    text-align: center;
  }
  .received-your-request .container .popup .popup-content .stars .star {
    padding: 0.5rem 1rem;
  }
  .received-your-request .container .popup .popup-content {
    max-width: 80%;
    padding: 1.2rem;
  }
}
